body{
    /* margin: 0%; */
    background-color: #00205A;
    /* height: 10000px; */
    margin: 0px;
    padding:400px;
    padding-top: 200px;
    /* = main에서 margin400px 과 같다 */
}



.schoolmeal-main{
    /* margin: 37vh; */

    /* margin:400px; */

    /* margin:auto; */
    /* margin-top: 10vh; */
    padding: 15vh;
    background-color: lightgray;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    
    /* display: flex;
    flex-flow: column nowrap; */
    /* justify-content: center; */
}


.schoolmeal-bar{
    z-index: 1;
    background-color:white;
    position: fixed;
    height: 10vh;
    width: 100%;

    font-size: 2vh;

    top:0;
    left:0;
    right:0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 5px 10px -3px gray;
    /*
    boxshadow에
    두 개의 값을 사용하면 offset-x , offsset-y 로 분석한다
    세 개의 값을 주어주면 blur-radius 로 분석한다
    네 개의 값을 주어주면 spread-radius 로 분석한다
     */

}


.schoolmeal-bar h1{
    color: #00205A;
}
.schoolmeal-bar h1 a{
    text-decoration-line: none;
    color:#00205A;
}
.schoolmeal-bar h1 a:visited{
    text-decoration: none;
}



body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.schoolmeal-main{
    min-width: fit-content;
}

.schoolemael-main-block{
    cursor:default;
    user-select: none;
}

.schoolmeal-tables-set-line-1{
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
}

.schoolmeal-tables-set-line-2{
    display: flex;
    flex-flow: row nowrap;
}

.schoolmeal-tables-set-line-3{
    display: flex; 
    flex-flow: row nowrap;
}

.schoolmeal-tables-set-line-4{
    display: flex; 
    flex-flow: row nowrap;
    float: right;
}



.schoolemael-table-set{
    width: auto;
    min-width: 86px;
    max-width: 86px;

    margin: 7px;
}

.schoolmeal-table-1{
    width: 40px;
    border-radius: 100px 0 0 0;
    background-color: gray;

    display:inline-block;
    cursor: pointer;

    margin-right:3px;
}
.schoolmeal-table-1:hover{
    background-color:dimgray;
}
.schoolmeal-table-2{
    width: 40px;
    border-radius: 0px 100px 0px 0px;
    background-color: gray;
    
    display:inline-block;
    cursor: pointer;
}
.schoolmeal-table-2:hover{
    background-color:dimgray;
}
.schoolmeal-table-3{
    width: 40px;
    border-radius: 0px 0px 0px 100px;
    background-color: gray;

    margin-top: 3px;
    display:inline-block;
    cursor: pointer;

    margin-right:3px;
}
.schoolmeal-table-3:hover{
    background-color:dimgray;
}
.schoolmeal-table-4{
    width: 40px;
    border-radius: 0px 0px 100px 0px;
    background-color: gray;

    display:inline-block;
    cursor: pointer;
}
.schoolmeal-table-4:hover{
    background-color:dimgray;
}


.schoolmeal-tablecontent{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;

    color: white;
    opacity: 0.5;
}